menu{
    background-color: #d23cf8 !important;
}

h1{

}

.h1 {
    color: #FF416C !important;
    font-size: 3em;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

.footer-web{
    background-color: #d23cf8 !important;
}
